body {
    background-color: burlywood;
}

#deo {
    padding: 20px 0;
}

#main {
    border: 2px solid darkolivegreen;
    margin: 0 auto;
    padding: 15px;
    background-color: darkgoldenrod;
}

#fon {
    background-color: cadetblue;
    border: 2px solid brown;
    text-align: center;
    font-size: 25px;
}

input::placeholder {
    font-size: 14px;
    color: black;
    border: none;
}

#demoheight,
#demoweight {
    font-size: 16px;
    width: 150px;
    height: 25px;
    border: 2px solid darkolivegreen;
    background-color: cadetblue;
}

#demo7 {
    /* margin-left: 20px; */
    cursor: pointer;
    height: 31px;
    font-size: 17px;
    border: 2px solid darkolivegreen;
    background-color: cadetblue;
}

#main-input{
    margin: 0 auto;
}