body {
    background-color: burlywood;
}

#fon {
    border: 2px solid brown;
    text-align: center;
    font-size: 25px;
}

#main {
    border: 2px solid darkolivegreen;
    margin: 0 auto;
    padding: 15px;
    background-color: darkgoldenrod;
}

#demo,
#demo1 {
    padding: 30px 40px;
    font-size: 22px;
    border: 2px solid darkolivegreen;
    background-color: cadetblue;
}

input::placeholder {
    font-size: 17px;
    color: black;
    border: none;
}

#demo2 {
    padding: 30px;
    color: rgb(56, 139, 126);
    font-size: 40px;
}

#demo3 {
    font-size: 22px;
    width: 150px;
    height: 25px;
    border: 2px solid darkolivegreen;
    background-color: cadetblue;
}

#demo7 {
    margin-left: 20px;
    height: 31px;
    font-size: 17px;
    border: 2px solid darkolivegreen;
    background-color: cadetblue;
}

#demo3,
#demo7 {
    float: right;
}