body {
    background-color: black;
}

#container,
#container1 {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 460px;
    display: none;
}

#container1 {
    width: 384px;
    height: 384px;
}

#container i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
}

#container i:nth-child(1),
#container1 i:nth-child(1) {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    animation: animate 6s linear infinite;
}

#container i:nth-child(2),
#container1 i:nth-child(2) {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    animation: animate 4s linear infinite;
}

#container i:nth-child(3),
#container1 i:nth-child(3) {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    animation: animate2 8s reverse infinite;
}

#container:hover i,
#container1:hover i {
    border: 4px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}

#maintable {
    /* border: 2px solid black; */
    display: none;
    background-color: black;
    border-radius: 10px;
    margin-top: 18%;
    color: white;
}

#maintable1 {
    /* border: 2px solid black; */
    display: none;
    background-color: black;
    border-radius: 10px;
    margin-top: 10%;
    color: white;
}

td {
    padding: 5px 41px;
}

#maintable1 {
    padding: 15px;
}

#maintable1 {
    display: none;
    background-color: black;
    border-radius: 10px;
}

#datemain {
    /* position: relative; */
    margin-top: 2%;
    margin-right: 20px;
}

#mainshort1,
#mainshort2 {
    color: rgb(172, 172, 172);
}

#datetable {
    /* position: absolute; */
    cursor: pointer;
    display: none;
}

#fgh {
    background: #86a6a6;
}

select {
    border-radius: 10px;
    padding: 5px;
    margin-top: 5%;
    margin-bottom: 12%;
    font-size: 20px;
    color: white;
    cursor: pointer;
    border: none;
    background: linear-gradient(45deg, #ff357a, #fff172);
}

#book {
    display: none;
    width: 150px;
    margin-top: 2%;
}

select option {
    cursor: pointer;
}

table {
    border: 2px solid rgb(217, 217, 217);
}

th {
    /* border-radius: 10px; */
    padding: 13px 14px;
}

#datemain {
    position: relative;
    width: 200px;
    justify-content: center;
    margin: 0 auto;
}



input {
    /* position: absolute; */
    /* display: flex; */
    /* margin: 0 auto; */
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 17px;
    color: white;
    background: linear-gradient(45deg, #ff357a, #fff172);
    outline: none;
    border: none;
    padding: 8px;
    /* border: 2px solid white; */
    border-radius: 10px;
    cursor: pointer;
}

#book {
    width: 17.5rem;
    height: 3rem;
}

#book {
    position: relative;
    cursor: pointer;
    padding: 5px 30px;
    /* outline: none; */
    border: 2px solid rgb(134, 134, 134);
    border-radius: 10px;
    cursor: pointer;
    font-size: 27px;
    /* width: 4rem; */
    color: white;
    background: linear-gradient(45deg, #ff357a, #fff172);
    border: none;
}

#mainsentense {
    /* border: 2px solid black; */
    background-color: black;
    font-size: 20px;
}

#mainsentense1 {
    /* border: 2px solid black; */
    background-color: black;
}

#inputtable {
    padding: 15px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}